#body {
  background-color: rgb(194, 158, 111);
}

.headTwo {
  color:rgba(255, 0, 0, 0.658);
}

.bushHoney {
  border: 5px solid rgba(255, 0, 0, 0.658);
  color:rgb(20, 104, 20);
  width:375px
}

h3 {
  color:rgba(255, 0, 0, 0.658);
}

h3 ~ p {
  color:rgb(20, 104, 20);
}

#image {
  border: 5px solid rgba(255, 0, 0, 0.658);
  padding: 40px
  margin: 40px
  width: 400px;
  height: 400px;
  float: right;
  border-radius: 50%;
}

#davidPierson {
  color:rgb(20, 104, 20);
}

#header {
  color:rgba(255, 0, 0, 0.658);
}

.aboutMe {
  color:rgb(20, 104, 20);
}
